:root { 
  
  --color-primary: #28B1FE;
  --color-sencondary: #3EFD72;
  --color-light: #E2FBE9;
  --color-dark: #C9CFD3;
  --color-white: white;
  --color-text-dark: #3a3b3c;
  --color-text-light: #7a7e80;
  --color-medium: #FDCF3E;
  --color-high: #FD3E3E;
  --color-btn-ligth: linear-gradient(#3EFD72, #28B1FE);
  --color-btn-dark: linear-gradient( #C472F3, #5B5BEF );
  /**/
  --border-radius: 0.5rem;
  
}
.form {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.form input, select {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.8rem;
  outline: thin solid var(--color-primary);
}
.form select {
  color: var(--color-text-light);
}
.form input:focus, select:focus {
  outline: thin solid var(--color-sencondary);
}
.form button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: var(--color-light);
  border-radius: var(--border-radius);
  padding: 0.8rem;
}
input::placeholder, option {
  text-align: center;
}
