:root { 
  
  --color-primary: #28B1FE;
  --color-sencondary: #2FE460;
  --color-light: #E2FBE9;
  --color-dark: #C9CFD3;
  --color-white: white;
  --color-text-dark: #3a3b3c;
  --color-text-light: #7a7e80;
  --color-medium: #FDCF3E;
  --color-high: #FD3E3E;
  --color-btn-ligth: linear-gradient(#2FE460, #28B1FE);
  --color-btn-dark: linear-gradient( #C472F3, #5B5BEF );
  --color-note-hover: #ecf3ee;
  /**/
  --border-radius: 0.5rem;
  
}
.notes-tool {
  padding: 0 0.5rem;
  width: 100%;
  height: 100%;
}
.notes-tool span {
  text-align: center;
  margin-bottom: 0.5rem;
}
.notes-tool form {
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-text-light);
}
.notes-tool .form-notes-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.form-notes-btns button {
  width: 50%;
  border: none;
  border-radius: var(--border-radius);
  background-image: var(--color-btn-ligth);
  padding: var(--border-radius);
  color: var(--color-light);
  height: 2rem;
}
.form-notes-btns button:hover {
  background-image: var(--color-btn-dark);
}
.notes-tool form input {
  padding: var(--border-radius);
  border-radius: var(--border-radius);
  border: thin solid var(--color-primary) !important;
  border: none;
}
.notes-tool input::placeholder {
  text-align: center;
  color: var(--color-text-light);
}
.notes-tool form input:focus, textarea:focus {
  outline: none;
  border: thin solid var(--color-sencondary) !important;
}
.note {
  width: 100%;
  height: 100%;
}
.note-container {
  display: flex;
  border: thin solid var(--color-primary);
  background-color: var(--color-white);
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.note-container:hover {
  border: thin solid var(--color-sencondary);
  background-color: var(--color-note-hover);
}
.note-container .trash {
  color: var(--color-high);
}
textarea {
  padding: var(--border-radius);
  font-size: 1rem;
  resize: none;
  border-radius: var(--border-radius);
  border: thin solid var(--color-primary);
  text-align: justify;
}
.empty-tool {
  width: 100%;
  display: block;
}
.list-note {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.list-note ul {
  list-style: none;
  width: 100%;
}
.list-note ul li {
  
  width: 100%;
}
.btn-add-notes {
  background-image: var(--color-btn-ligth);
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--color-light);
}
.btn-add-notes:hover {
  background-image: var(--color-btn-dark);
}
.note {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.note p {
  text-align: justify;
  padding-left: 1rem;
}
.note small {
  align-self: flex-start;
  color: var(--color-sencondary);
}
.note button {
  width: 80%;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  border: none;
  margin-bottom: 3rem;
  cursor: pointer;
  padding: var(--border-radius);
  color: var(--color-light);
  /*
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  right: -.5rem;
  */
}