@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  font-family: "Quicksand", "sans-serif";
  line-height: 1.5;
  font-weight: 400;
}

html, ::after, ::before, *, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}